
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.main_div{
  display: flex;
  flex-direction: column;
}
.appbar{
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: #760BFE;
  color: #ffffff;
  font-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  align-items: center;
}
.sign_in_div{
  display: flex;
  width: 100%;
  justify-content: center;
}
.sign_in_btn_container{
  display: inline-flex;
  padding: 8px 12px;
  color: #444;
  
  border-radius: 5px;
  box-shadow: 1px 2px rgba(0,0,0,0.16);
  

}
.signInBtn{
  background-color: #ffffff;
  border: none;
  color: #000000;
  margin-left: 8px;
  font-weight: 500;
  cursor: pointer;
}

.content_div{
  padding: 36px 20px;
  display: flex;

  
}
.content_div ul{
  list-style-type: none;
  width: 100%;
}
.comment_container{
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: #F3F3F4;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
}
.comment_container p{
  margin-top:8px;
}
.song_id{
  color:#760BFE;
}
.btn_container{
  display: inline-flex;
}
.btn{
  
  outline: none;
  border:none;
  color: #ffffff;
  font-weight: bold;
  padding: 4px 12px;
  border-radius: 4px;
  margin-top: 12px;
  cursor: pointer;
}
.logout_btn{
  color:#ffffff;
  margin-left: auto;
  background: none;
  font-weight: 500;
  padding: 0;
  margin-top: 0;
}
.btn_verify{
  background-color:#760BFE;
 
}
.btn_unverify{
  color:#760BFE;
  border:2px solid #d3d3d3;
  background:none;
}

@media screen and (max-width: 750px) {
  .content_div ul{
    text-align: center;
  }
  .comment_container{
    width: 100%;
    text-align: start;
  }
}